<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.sdut.dao.ProjectInfoMapper" >
  <resultMap id="BaseResultMap" type="edu.sdut.model.ProjectInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, title, create_time, create_user_id, group_id, status, describe, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.sdut.model.ProjectInfo" >
    insert into project_info (id, code, title, 
      create_time, create_user_id, group_id, 
      status, describe, remark
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{describe,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.sdut.model.ProjectInfo" >
	<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	  SELECT @@IDENTITY
	</selectKey>
    insert into project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="describe != null" >
        describe,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdut.model.ProjectInfo" >
    update project_info
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="describe != null" >
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdut.model.ProjectInfo" >
    update project_info
    set code = #{code,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      group_id = #{groupId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      describe = #{describe,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getProjectList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  	SELECT
		pi.id,
		pi.code,
		pi.title,
		ui.name userName,
		ug.name userGroup,
		pi.status,
		pi.create_time createDateTime
	FROM
		project_info pi
	LEFT JOIN user_info ui ON pi.create_user_id = ui.id
	LEFT JOIN user_group ug ON pi.group_id = ug.id
	<where>
		<if test="projectName != null and projectName != ''">
			pi.title=#{projectName}
		</if>
		<if test="userName != null and userName != ''">
			ui.name=#{userName}
		</if>
		<if test="userGroup != null and userGroup != ''">
			ug.name=#{userGroup}
		</if>
		<if test="projectStatus != null and projectStatus != ''">
			pi.status=#{projectStatus}
		</if>
		<if test="createTimeBegin != null and createTimeBegin != ''">
			<if test="createTimeEnd != null and createTimeEnd !=''">
				pi.create_time between #{createTimeBegin} and #{createTimeEnd}
			</if>
		</if>
	</where>
	<if test="begin!=null and step!=null">
		LIMIT #{begin},#{step}
	</if>
  </select>
  <select id="getProjectListCount" parameterType="java.util.HashMap" resultType="java.lang.Long">
  	SELECT
		count(*)
	FROM
		project_info pi
	LEFT JOIN user_info ui ON pi.create_user_id = ui.id
	LEFT JOIN user_group ug ON pi.group_id = ug.id
	<where>
		<if test="projectName != null and projectName != ''">
			pi.title=#{projectName}
		</if>
		<if test="userName != null and userName != ''">
			ui.name=#{userName}
		</if>
		<if test="userGroup != null and userGroup != ''">
			ug.name=#{userGroup}
		</if>
		<if test="projectStatus != null and projectStatus != ''">
			pi.status=#{projectStatus}
		</if>
		<if test="createTimeBegin != null and createTimeBegin != ''">
			<if test="createTimeEnd != null and createTimeEnd !=''">
				pi.create_time between #{createTimeBegin} and #{createTimeEnd}
			</if>
		</if>
	</where>
  </select>
  <select id="getProjectDetailByID" parameterType="java.lang.Integer" resultType="java.util.HashMap">
  	SELECT
		pi.id,
		pi.code,
		pi.title,
		pi.status,
		pi.group_id userGroup,
		ui.name userName,
		pi.create_time createDateTime,
		pi.describe
	FROM
		project_info pi
	LEFT JOIN user_info ui ON pi.create_user_id = ui.id
	WHERE pi.id=#{projectID}
  </select>
</mapper>