<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.sdut.dao.ProjectLogMapper" >
  <resultMap id="BaseResultMap" type="edu.sdut.model.ProjectLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="operater_id" property="operaterId" jdbcType="INTEGER" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="pre_status" property="preStatus" jdbcType="INTEGER" />
    <result column="after_status" property="afterStatus" jdbcType="INTEGER" />
    <result column="op_describe" property="describe" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, operater_id, operate_time, pre_status, after_status, op_describe, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.sdut.model.ProjectLog" >
    insert into project_log (id, project_id, operater_id, 
      operate_time, pre_status, after_status, 
      op_describe, remark)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{operaterId,jdbcType=INTEGER}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{preStatus,jdbcType=INTEGER}, #{afterStatus,jdbcType=INTEGER}, 
      #{describe,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.sdut.model.ProjectLog" >
    insert into project_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="operaterId != null" >
        operater_id,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="preStatus != null" >
        pre_status,
      </if>
      <if test="afterStatus != null" >
        after_status,
      </if>
      <if test="describe != null" >
        op_describe,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="operaterId != null" >
        #{operaterId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preStatus != null" >
        #{preStatus,jdbcType=INTEGER},
      </if>
      <if test="afterStatus != null" >
        #{afterStatus,jdbcType=INTEGER},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.sdut.model.ProjectLog" >
    update project_log
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="operaterId != null" >
        operater_id = #{operaterId,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preStatus != null" >
        pre_status = #{preStatus,jdbcType=INTEGER},
      </if>
      <if test="afterStatus != null" >
        after_status = #{afterStatus,jdbcType=INTEGER},
      </if>
      <if test="describe != null" >
        op_describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.sdut.model.ProjectLog" >
    update project_log
    set project_id = #{projectId,jdbcType=INTEGER},
      operater_id = #{operaterId,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      pre_status = #{preStatus,jdbcType=INTEGER},
      after_status = #{afterStatus,jdbcType=INTEGER},
      op_describe = #{describe,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>